:root {
    --primary-blue: #005BA9;
    --secondary-blue: #0078C1;
    --middle-color: #9B4F96;
    --primary-pink: #FF0F73;
    --secondary-pink: #FD48C7;
    --black: #000;
    --gradient: linear-gradient(0.25turn,var(--primary-blue), var(--secondary-blue), var(--middle-color) , var(--secondary-pink), var(--primary-pink));
    --color-shifter: rgba(0,0,0,50%);
    --bs-sinder-rgb: rgb(251,59,2);
    --bs-aura-gx-rgb: rgb(199,38,79);
    --gradient-mod: linear-gradient(0.20turn, var(--black), var(--bs-sinder-rgb), var(--bs-aura-gx-rgb), var(--black));
    overflow-x: hidden;
    width: 100vw;
}
* {
    max-width: 100%;
}
.gradient-box {
    background-image: var(--gradient);
    background-repeat: no-repeat, no-repeat;
    background-position: center, bottom;
    background-size:  cover, contain;
}

a, a *, a div * {
    color: black;
    text-decoration: none; /* no underline */
}

.modding_section{
    background-color: var(--color-shifter);
}

#navbar, #navbar .dropdown-menu{
    background: black;
    color: white;
}
.navbar-custom .dropdown-item,.navbar-custom .nav-link {
    color: white;
    background-color: black;
    border-radius: 5%;
}
.navbar-custom .dropdown-item:hover,.navbar-custom .nav-link:hover {
    animation: fade 1s;
    color: black;
    background-color: white;
}
.navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.navbar .dropdown .dropdown-menu {
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    display: block;
}
.navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

hr {
    border: none;
    height: 10px;
    width:90%;
}

details summary::-webkit-details-marker { display:none!important; }

details {
    width: 80%;
    margin: 0 auto ;
    margin-bottom: .5rem;
    box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
    border-radius: 5px;
    overflow: hidden;
}

summary {
    padding: 1rem;
    display: block;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
    user-select: none;
    list-style: none;
    outline: none;
}

summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #000000;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}

details[open] > summary:before {
    transform: rotate(90deg);
}

@keyframes details-show {
    from {
        opacity:0;
        transform: var(--details-translate, translateY(-0.5em));
    }
}

details[open] > *:not(summary) {
    animation: details-show 150ms ease-in-out;
}

details summary::-webkit-details-marker {
    display:none;
}

details > ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
}


.border.border-sinder {
    border-color: var(--bs-sinder-rgb) !important;
}
.border.border-aura-gx {
    border-color: var(--bs-aura-gx-rgb) !important;
}
.bg-gradient-mod {
    background-image: var(--gradient-mod) !important;
}