html, body {
    max-height: 100%;
    margin: 0;
    padding: 0;
}

.box {
    height: 100px;
}

.halfbox {
    height: 50px;
}

.gradient-box {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; Ensure the wrapper takes at least the full viewport height */
}

.main-content {
    flex: 1; /* This makes the main content take up the remaining space */
}

.card {
    max-width: 540px;
}